<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
            integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script th:src="@{/js/basic.js}"></script>
    <title>피드 게시판</title>
    <link rel="icon" href="data:;base64,=">
</head>
<body>
<!--header-->
<div style="background-color: #f8f9fa; padding: 20px; text-align: center;">
    <div id="user-profile">
        <button id="profile-button" onclick="goIndexToFeed()" style="font-size: 20px; padding: 10px 20px;">내 피드</button>
    </div>
</div>
<!--/header-->


</body>
</html>
<script>

    function goIndexToFeed() {
        $.ajax({
            url: '/feed',
            method: 'GET',
            beforeSend: function(xhr) {
                xhr.setRequestHeader('Authorization', 'Bearer ' + localStorage.getItem('token'));
            },
            success: function(data) {
                // 페이지 이동 처리
                window.location.href ='/feed';
            },
            error: function(err) {
                // 에러 처리
                console.log(err);
            }
        });
    }
</script>
